<div class="big tall box">
  <ul>
    <li>Created by <a href="http://www.twitter.com/alexsoble">@alexsoble</a>.</li>
    <li>Thanks to Ian Dees for the excellent <a href="https://github.com/iandees/divvy-dump">divvy-dump</a> script.</li>
  </ul>
</div>