<div class="big tall box">
  <h1>You love Divvy Bikes.</h1>
  <h2>Now—<i>finally!</i>—an easy way to brag about<br> all the miles you've Divvied.</h2>

  <br>

  <p>Enter your Divvy username/password after you read about <a href="/about">Privacy & Security</a>.</p>

  <%= form_tag "/posts", :method => 'post' do %>
    <label for='username'>Username</label> <%= text_field_tag 'username' %>
    <label for='password'>Password</label> <%= password_field_tag 'password' %>
    <%= submit_tag "Let's go!" %>
  <% end %>

  <br>

</div>