<div class="big tall box">
  <h1>You love Divvy Bikes.</h1>
  <h2>Now—<i>finally!</i>—an easy way to brag about<br> all the miles you've Divvied.</h2>

  <br>

  <u><i>DivvyBrag is getting an update, please check back later</i></u>.

  <br>

</div>