<div class="big tall box">
  <h1>You love Divvy Bikes.</h1>
  <h2>Now—<i>finally!</i>—an easy way to brag about<br> all the miles you've Divvied.</h2>

  <br>

  <p>Enter your Divvy username and password after you read the Security Stuff.</p>

  <%= form_tag "/posts", :method => 'post' do %>
    <label for='username'>Username</label> <%= text_field_tag 'username' %>
    <label for='password'>Password</label> <%= text_field_tag 'password' %>
    <%= submit_tag "Let's go!" %>
  <% end %>

  <br>

  <p>Security Stuff:<p>
    <ul>
      <li>This app <strong><u>does not</u></strong> store your Divvy password.</li>
      <li>This app <strong><u>does</u></strong> display your Divvy username.</li>
      <li>This app <strong><u>does not</u></strong> display any data about individual Divvy trips.</li>
      <li>Use this app at your own risk!</li>
      <li>Check out the github repo <a href="https://github.com/alexsoble/DivvyBrags">here.</a></li>
    </ul>

</div>