<div class="tall skinny box">
  <% if @top_divviers.length > 0 %>
    <h2>Top Divviers:</h2>
    <ol>
      <% @top_divviers.each do |d| %>
        <li><a href="/<%= d.username %>"><%= d.username %></a>: <%= d.distance %> mi</li>
      <% end %>
    </ol>
  <% else %>
   <p><i>Not enough data yet... get your friends to post their Divvy brags.</i></p>
  <% end %>
</div>